<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bath of baths | async" (click)="select(bath)">
    <td>{{bath.name}}</td>
    <td><button class="btn btn-primary" (click)="select(bath)"> Show details</button></td>
    <td *ngIf="key!=null && manager==true"><button class="btn btn-primary" (click)="edit(bath)"> Edit</button></td>
  </tr>
  </tbody>
</table>
<div class="card text-center" *ngIf="selected">
  <div class="card-header">
    <h2>{{selected.name}}</h2>
  </div>
  <div class="card-block">
    <p class="card-text">
      Capacity: {{selected.capacity}}<BR>
      Volume: {{selected.volume}}<BR>
      State: {{selected.state}}<BR>
      Sector: {{selected.sector.name}}<BR></p>
      <p *ngIf="key!=null" class="card-text">Responsable: {{selected.resp.firstname}} {{selected.resp.lastname}}<BR>
    </p>
    <b>Animals</b>
    <p *ngFor="let animal of selected.animals" class="card-text">
      Name: {{animal.name}}<BR>
      Sex: {{animal.sex}}<BR>
      Species: {{animal.species.name}}<BR>
      <BR>
    </p>
  </div>
</div>
</div>

<div *ngIf="key!=null && manager==true" class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <td><button class="btn btn-primary" (click)="reset()"> Reset</button></td>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="bath.name" type="text" name="name" class="form-control" id="name">

            <label for="capacity">Capacity</label>
            <input [(ngModel)]="bath.capacity" type="number" name="capacity" class="form-control" id="capacity">

            <label for="volume">Volume</label>
            <input [(ngModel)]="bath.volume" type="number" name="volume" class="form-control" id="volume">

            <label for="state">State</label>
            <select [(ngModel)]="bath.state" name="state" class="form-control" id="state">
              <option value="clean">Clean</option>
              <option value="dirty">Dirty</option>
            </select>

            <label for="sector">sectors</label>
            <select [(ngModel)]="bath.sector" name="sector" class="form-control" id="sector">
              <option *ngFor="let sector of sectors | async" [ngValue]="sector">{{sector.name}}</option>
            </select>

            <label for="resp">Resp</label>
            <select [(ngModel)]="bath.resp" name="resp" class="form-control" id="resp">
              <option *ngFor="let employee of employees | async" [ngValue]="employee">{{employee.firstname}} {{employee.lastname}}</option>
            </select>
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
