<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Address</th>
    <th>BirthDate</th>
    <th>Social Security</th>
    <th>Manager</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | async" (click)="select(employee)">
    <td>{{employee.id}}</td>
    <td>{{employee.firstname}}</td>
    <td>{{employee.lastname}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.birthDate}}</td>
    <td>{{employee.ssNumber}}</td>
    <td>{{employee.manager}}</td>
    <td><button class="btn btn-primary" (click)="select(employee)"> Show details</button></td>
  </tr>
  </tbody>
  </table>
  <div class="card text-center" *ngIf="selected">
    <div class="card-header">
      <h2>{{selected.firstname}} {{selected.lastname}}</h2>
    </div>
    <div class="card-block">
      <p class="card-text">
        Full Name: {{selected.firstname}} {{selected.lastname}}<BR>
        Address: {{selected.address}}<BR>
        Birth Date: {{selected.birthDate}}<BR>
        Social Security: {{selected.ssNumber}}<BR>
        Is Manager: {{selected.manager}}<BR>
      </p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
