h2{
    background-color:#333366;
    border-radius: 15px;
    color:white;
    text-align:left;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}
p{
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#DDDDDD;
    border-radius: 15px;
    color:black;
    text-align:left;
}
